[submodule "libosmo-sccp"]
	path = libosmo-sccp
	url = https://github.com/NetworkRADIUS/libosmo-sccp.git
[submodule "libosmocore"]
	path = libosmocore
	url = https://github.com/NetworkRADIUS/libosmocore.git
[submodule "libosmo-netif"]
	path = libosmo-netif
	url = https://github.com/osmocom/libosmo-netif.git
[submodule "libosmo-abis"]
	path = libosmo-abis
	url = https://github.com/osmocom/libosmo-abis.git
